<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <title>Search word page</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="">SEARCH FOR WORD</a>
    <a href="{{ url_for('wordofday_by_id', userid=userid) }}">WORD OF THE DAY</a>
    <a href="{{ url_for('wordssearched_by_id', userid=userid) }}" >PREVIOUSLY SEARCHED WORDS</a>
    <a href="{{ url_for('timed_word', userid=userid) }}">SCHEDULE A WORD</a>
    <a href="http://127.0.0.1:5001">LOG OUT</a></div>
    <br>
    <br>
    <br>
    <br>
    <h1>Search for word</h1>
    <h2>Hey, {{ firstname }}! Search for a word here: </h2>
    <form action= "{{ url_for('searchword_by_id', userid=userid) }}" method="POST">

        <input type="text" id="searchword" name="searchword"><br><br>
        <input type="submit" name="next" value="Search">
    </form>

    <br><br>
    {% if clicked %}
        <h2>
            {{ word_searched }}
        </h2>

    {% endif %}



</body>
</html>