<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css.css">
    <title>Search word page</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="http://127.0.0.1:5001/searchword">SEARCH FOR WORD</a>
  <a href="http://127.0.0.1:5001/wordofday">WORD OF THE DAY</a>
  <a href="http://127.0.0.1:5001">LOG OUT</a>
    <br>
    <br>
    <br>
    <br>
    <h1>Search for word</h1>
    <h2>Hey, {{ firstname }}! Search for a word here: </h2>
    <form action= "{{ url_for('searchword_by_id', userid=userid) }}" method="POST">

        <input type="text" id="searchword" name="searchword"><br><br>
        <input type="submit" name="next" value="Search">
    </form>

    <br><br>
    {% if clicked %}
        <h2>
            {{ word_searched }}
        </h2>

    {% endif %}


</div>
</body>
</html>