<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <title>Sign up page</title>
</head>
<body>
    <div class="topnav">
    <a href="{{ url_for('index') }}">BACK</a>
   </div>
    <h1>Sign up here</h1>

    <form action="{{ url_for('signup') }}" method="POST">

        Email: <input type="text" id="email" name="email"><br><br>
        First name: <input type="text" id="firstname" name="firstname"><br><br>
        Last name: <input type="text" id="lastname" name="lastname"><br><br>
        DOB (%d-%m-%Y): <input type="text" id="dob" name="dob"><br><br>
        City: <input type="text" id="city" name="city"><br><br>
        Username: <input type="text" id="username" name="username">
        <br><br>
        Password: <input type="text" id="password" name="password">
        <br><br>

    <input type="submit" name="next" value="Sign up">
    </form>
    <br>
    {% if clicked %}
        {% if passed_regex_check %}
            {% if duplicate %}
                <h2>There is already a user with these details!</h2>
            {% else %}
                <h2>Hi {{firstname}}, you are all signed up!
                <br><br>
                <a href="{{ url_for('wordofday_by_id', userid=userid) }}">Get your word of the day!</a>
                <br><br>
                <a href="{{ url_for('searchword_by_id', userid=userid) }}">Search for a word</a></h2>
            {% endif %}
        {% else %}
        <h2>There is a problem with either your email, DOB, username or password. Please try again!</h2>
        {% endif %}
    {% endif %}

    <div class ="smalltext">SIGN UP DETAILS RULES: </div>
    <div class ="smalltext">(Email should be in form emai@email.com & Date can only be in form %d-%m-%Y)</div>
    <div class ="smalltext">(Username should be between 4 and 20 characters, should start with a letter and only contain letters, numbers, underscores and dashes)</div>
    <div class ="smalltext">(Password should contain at least one number, one uppercase letter, one lowercase letter, one special symbol [not - or _], it should be between 6 and 20 characters longer) </div>

</body>
</html>


</body>
</html>