<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css.css">
    <title>WORD OF DAY PAGE</title>
</head>
<body>
    <h1>WORD OF THE DAY!</h1>
    <div id = "wordanddef">
        <h2 id = "word">
            {{ word }}
            <br>
        </h2>
        <h2 id = "definition">
            {{ definition }}
        </h2>
    </div>
</body>
</html>