<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <title>WORD OF DAY PAGE</title>
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('searchword_by_id', userid=userid) }}" >SEARCH FOR WORD</a>
  <a class="active" href="">WORD OF THE DAY</a>
  <a href="http://127.0.0.1:5001">LOG OUT</a>
    <br>
    <br>
    <br>
    <br>
    <h1>WORD OF THE DAY!</h1>
    <form action="{{ url_for('wordofday_by_id', userid=userid) }}" method="POST">
        <h2>Hi {{ firstname }}! Click the button to get a new word</h2>
        <h3>(Important info: The word will refresh each time you click this button or refresh the page)</h3>

        <input type="submit" name="next" value="NEW WORD">
    </form>

    {% if clicked %}

       <p class = "word">{{ word }}</p>
        <p class = "definition">{{ definition }}</p>


    {% endif %}



<!--    <div id = "wordanddef">-->
<!--        <h2 id = "word">-->
<!--            {{ word }}-->
<!--            <br>-->
<!--        </h2>-->
<!--        <h2 id = "definition">-->
<!--            {{ definition }}-->
<!--        </h2>-->
<!--    </div>-->
</body>
</html>