body {
    background-color: #fcdcc5;
    font-family: 'Comfortaa', cursive;

  }
  
  h1 {
    color: #d82d2b;
    text-align: center;
    font-size: 80px;


  }
  
  h2 {
      color: #104d91;
      text-align: center;

  }

  h3 {
    color: #104d91;
    text-align: center;
    font-size: 20px;
  }

 p.word {
    color: #d82d2b;
    text-align: center;
    font-size: 60px;
    padding: 0px

  }

p.definition {
   color: #104d91;
}

  p {

    color: #d82d2b;
    font-size: 20px;
    text-align: center;
  }
  
  a {
    color: #d82d2b;
    text-align: center;
  }
  
  form {
      text-align: center;
      font-size: 20px;
      color: #104d91;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    }

  #wordanddef {
   margin-left: auto;
   margin-right: auto;
   width: 75%;

   }



  #word {
    font-size: 50px;
  }

  #definition {
    font-size: 30px;
  }

  /* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #104d91;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #104d91;
  color: white;
}