body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 70px;
  }
  
  h2 {
      color: white;
      text-align: center;
  }
  
  p {
    font-family: verdana;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  a {
    color: white;
    text-align: center;
  }
  
  form {
      text-align: center;
  }